<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="New_designed_Dictionary.Properties.Settings.MyOwnDictionaryConnectionString" connectionString="Data Source=LAPTOP-A2GFRUH1\SQLEXPRESS;Initial Catalog=MyOwnDictionary;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MyOwnDictionaryContext" connectionString="metadata=res://*/MyOwnDictionaryContext.csdl|res://*/MyOwnDictionaryContext.ssdl|res://*/MyOwnDictionaryContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-A2GFRUH1\SQLEXPRESS;initial catalog=MyOwnDictionary;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>