<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="New_designed_Dictionary.Properties.Settings.MyOwnDictionaryConnectionString" connectionString="Server=tcp:dictionary-server.database.windows.net,1433;Initial Catalog=MyOwnDictionary;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="MyOwnDictionaryContext" connectionString="metadata=res://*/MyOwnDictionaryContext.csdl|res://*/MyOwnDictionaryContext.ssdl|res://*/MyOwnDictionaryContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dictionary-server.database.windows.net;Initial Catalog=MyOwnDictionary;Persist Security Info=True;User ID=norounder;Password=JustARandomPassword123;MultipleActiveResultSets=true&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Culture" value="ru-RU" />
    <add key="English" value="en-US" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>